beautifulsoup4
certifi
charset-normalizer
click
colorama
docx
folium
geocoder
idna
lxml
matplotlib
numpy
oauthlib
ollama
pandas
Pillow
protobuf
psutil
pydantic
PyPDF2
python-dateutil
pytz
ratelim
requests
requests-oauthlib
six
soupsieve
streamlit
streamlit-aggrid
streamlit-extras
streamlit-folium
streamlit-option-menu
tldextract
typing-extensions
urllib3
visjs-component
